# =============================
# Python
# =============================
__pycache__/
*.py[cod]
*$py.class

# virtual environments
venv/
.env/
.env.*
.venv/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/

# =============================
# IDE
# =============================
.idea/
.vscode/
*.iml

# =============================
# OS files
# =============================
.DS_Store
Thumbs.db

# =============================
# Logs
# =============================
*.log

# =============================
# Data
# =============================
*/data/
*/*/mnist_folders
*.csv

# =============================
# Models
# =============================
*.pt
*.pth

# =============================
# Jupyter
# =============================
.ipynb_checkpoints/

# =============================
# Build / dist
# =============================
build/
dist/
*.egg-info/

# =============================
# Node 
# =============================
node_modules/
